h1 {
    font-size: 20px;
}

textarea {
    border: 2px solid black;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: rgb(98, 98, 207);
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 8px 0;
}

button:hover {
    background-color: rgb(85, 85, 231) ;
}